*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        	

body{

    width: 100%;
    height: 100vh;
    background-image:url('../img/desert-g31c4247c0_1280.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    user-select: none;
} 


.one{

    padding-top:50px;
}

.topo{

   background-color:#ffffff;
   width:100%;
   max-width:400px;
   min-width:200px;
   margin:auto;
   padding:20px;
   border-radius:5px;
   display:flex;
   flex-direction:column;
   gap:15px;
   box-shadow:5px 5px 15px 5px #000000ad ;
  
}

.lab{

   
    font-family: 'Libre Franklin', sans-serif;
    font-size:18px;
    color:#000000;
   
}
.card>input{

    width:100%;
    padding:15px;
    outline:none;
    border:none;
    background-color:#00000030;
    border-radius:4px;
    color: rgb(0, 0, 0);
    
    
}


.card>input:hover{

    box-shadow:2px 2px 3px 2px #00000062 ;
    
    
}

.bbb{

    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
}

.bot{

    width:100%;
    min-width:none;
    padding:12px ;
    border:none;
    background-color:#32CD32;
    border-radius:5px;
    color: aliceblue;
    font-size:17px;
    letter-spacing:1px;
    display: inline-block;
    
}

.bot:hover{

    box-shadow:0px 10px 13px -10px #000000;
}

.botao{

    width:60%;
    min-width:none;
    padding:12px;
    border:none;
    margin-top:20px;
    background-color:#ff0000;
    border-radius:5px;
    color: aliceblue;
    font-size:17px;
    letter-spacing:1px;
    display: inline-block;
}

.botao:hover{

    box-shadow:0px 10px 13px -10px #000000;
}


@media screen and (max-width: 690px) {
    
    .one{

        padding-top:30%;
    }

    .botao{

        padding:10px;
    }

    .topo{

        max-width:360px;
    }
   
}


@media screen and (max-width: 410px) {

    .topo{

        width:85%
        
        
    }
   
}